<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/Accueil.css">
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<div class="header">
    <a href="Connexion.html" class="logout-button">Déconnexion</a>
</div>

<div class="container">
    <h1>Bienvenue sur la page D'Accueil !</h1>

    <a href="CreateCV.html">
        <input type="button" value="Creation de CV">
    </a>

    <a href="Infos.html">
        <input type="button" value="Page d'Information">
    </a>
</div>

<div class="container2">
    <h1>Existing CVs</h1>
    <!-- Display existing CVs here -->
    <!-- You can use a loop to dynamically generate CV entries -->

    <!-- Example CV entry -->
</div>
</body>
</html>
