<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="../Css/Inscription.css">
</head>
<body>
<!-- Formulaire de connexion -->
<div class="conn">
    <form method="post" action="../../public/connexion.php">
        <h1>Connexion</h1>
        <label>Nom d'utilisateur :</label>
        <input type="text" name="pseudo">
        <label>Mot de passe :</label>
        <input type="password" name="password">
        <input type="submit" name="submit" value="Connexion">
    </form>
    <a href="Inscription.html">
        <input type="button" name="submit" value="S'inscrire">
    </a>
</div>
</body>
</html>
