<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="../Css/Inscription.css">
</head>
<body>
<!-- Formulaire d'inscription -->
<div class="conn">
    <form method="post" action="../../public/inscription.php">
        <h1>Inscription</h1>
        <!-- Champs du formulaire -->
        <label>Nom d'utilisateur :</label>
        <input type="text" name="Nomutilisateur">

        <label>Nom :</label>
        <input type="text" name="Nom">

        <label>Prénom :</label>
        <input type="text" name="Prenom">

        <label>Email :</label>
        <input type="email" name="email">

        <label>Numéro de Téléphone :</label>
        <input type="tel" name="numeroTelephone">

        <label>Mot de passe :</label>
        <input type="password" name="password">

        <label>Confirmation de Mot de passe :</label>
        <input type="password" name="repeatpassword"><br>

        <!-- Bouton de soumission du formulaire -->
        <input type="submit" name="submit" value="Valider">
    </form>
</div>
</body>
</html>
