<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="../Css/Inscription.css">
</head>
<body>

    <form method="post" action="inscription.php">
        <h1>Inscription<h1>
        <label>Nom d'utilisateur :</label>
        <input type="text" name="Nomutilisateur">
        <label>Nom :</label>
        <input type="text" name="Nom">
        <label>Prenom :</label>
        <input type="text" name="Prenom">
        <label>Email :</label>
        <input type="email" name="email">
        <label>Mot de passe :</label>
        <input type="password" name="password">
        <label>Confirmation de Mot de passe :</label>
        <input type="password" name="repeatpassword"><br>
        <input type="submit" name="submit" value="Valider">

    </form>
</body>
</html>